@using Blazor_Projects.Components.Navigation.Enums
@inherits BaseComponent;


@if (!_doneRendering && !BaseComponentInitalized)
{
    <div class="loading-overlay"></div>
}

<nav class="nav @_positionClass" id="main-nav">
    <CascadingValue Value="Position">
        <CascadingValue Value="_navSectionCss">
            @ChildContent
        </CascadingValue>
    </CascadingValue>

</nav>

<div class="content">
    @Body
</div>


@if (StateService.IsDevelopmentActive)
{
    <section class="dev">
        <div class="dev-buttons">
            <button id="btn-top" onclick="@(() => ChangeNavBarPostion(NavigationPositions.Top))"><i class="fa-solid fa-arrow-up"></i></button>
            <button id="btn-right" onclick="@(() => ChangeNavBarPostion(NavigationPositions.Right))"><i class="fa-solid fa-arrow-right"></i></button>
            <button id="btn-bottom" onclick="@(() => ChangeNavBarPostion(NavigationPositions.Bottom))"><i class="fa-solid fa-arrow-down"></i></button>
            <button id="btn-left" onclick="@(() => ChangeNavBarPostion(NavigationPositions.Left))"><i class="fa-solid fa-arrow-left"></i></button>
        </div>
    </section>
}

